body{
	font-family: 'Century Gothic', Calibri, serif;
	font-size: 13px;
	margin: 0px;
	padding: 0px;
}

h1{
	font-size: 40px;
	font-weight: normal;
	text-align: center;
}

header{
	height: 100px;
}

footer{
	height: 80px;
	padding-top: 30px;
	text-align: center;
	background-color: #C5C5C5;
	border-top: 2px solid #AAA;
}

.decon{
    text-align: center;
}

nav{
	width: 100%; /* Pour afficher notre nav sur tout la page*/
	background-color: #0a1a81;
}
nav ul{
	margin: 0px;
	padding: 0px;
}
/* Supprimer les puces de notre liste*/
nav li{
	list-style-type: none;
	float: left;/* Pour mettre les elements en ligne*/
}

/* Pour nos liens de page dans le menu */
nav a{
	display: inline-block;
	text-decoration: none; /* Enlevement du tire */
	padding: 20px 30px;
	color: #FFF;
	text-transform: uppercase;
	font-size: 15px;
}
.table{
	display: table;
	margin: 0 auto;
}

/* Ajouter une couleur de fond des qu'un utilisateur passe le souri les elements du menu a l'aide de nos classe */
.menu-ind:hover, .presentation{
	border-top: 5px solid #4C8;
	background-color: RGBa(64, 200, 130, 0.15);
}
.menu-exp:hover, .parcours{
	border-top: 5px solid #f1dc4f;
	background-color: RGBa(241, 211, 79, 0.15);
}
.menu-hob:hover, .competences{
	border-top: 5px solid #0070BB;
	background-color: RGBa(000, 112, 192, 0.15);
}
.menu-con:hover, .recommandation{
	border-top: 5px solid #e44d26;
	background-color: RGBa(228, 77, 38, 0.15);
}
nav li:hover a{
	padding: 15px 30px 20px 30px; /* Pour eviter le menu de s'agrandir*/
}



/* Pour mettre nos sections cote a cote */

section{
	width: 100%;
	min-height: 300px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
/*le marge gauche et droit a nos div class et sec*/
.sec{
	margin: 0px 10%;
} 

/* Pour nos div de gauche et droit*/
.left{
	float: left;
	width: 40%;
}
.right{
	float: left;
	width: 60%;
}

/*Pour nos div cleft et cright*/
.cleft, .cright, .sousleft, .sousright{
	width: 50%;
	float: left;
}

.sec::after, .exp::after, .reco::after{
	content: "";
	display: table;
	clear: both;
}

/*Page experience-pro.html*/
.orange{
	border-top: 5px solid #e47d26;
	background-color: RGBa(228, 117, 38, 0.15);
	margin-bottom: 0px;
}

.rose{
	border-top: 5px solid #e44d96;
	background-color: RGBa(228, 77, 128, 0.15);
	margin-bottom: 0px;
}
/*Pour la page hobbies*/
.vert{
	border-top: 5px solid #5f6;
	background-color: RGBa(70, 240, 80, 0.15);
}
.bleu{
	border-top: 5px solid #29c;
	background-color: RGBa(30, 152, 212, 0.15);
}
.jaune{
	border-top: 5px solid #f3e241;
	background-color: RGBa(240, 255, 69, 0.15);
}
/*Pour la page contact*/

.rouge{
	border-top: 5px solid #e44d26;
	background-color: RGBa(228, 77, 38, 0.15);
}

.leftexp{
	width: 45%;
	float: left;
}
.rightexp{
	width: 50%;
	float: left;
	margin-left: 5%;
}

.leftexp img{
	width: 100%;
	max-width: 400px;
}




/* Rendre le site responsive pour les different ecrans */

@media screen and (max-width: 780px){
	header{
		height: 50px;
	}
	h1{
		font-size: 28px;
		margin: 20px 0px 0px 0px;
	}
	nav li a{
		font-size: 12px;
		padding: 10px;
	}
	nav li:hover a{
		padding: 5px 10px 10px 10px;
	}
}


img[src="imgs/rec.png"], [src="imgs/photo11.jpg"] {
	width: 150px;
	height: 200px;
}


@media screen and (max-width: 780px){
	img[src="imgs/bibliothecaire.jpg"], [src="imgs/noc.jpg"] {
	width: 150px;
	height: 200px;
}
}

@media screen and (max-width: 780px){
	img[src="imgs/football.jpg"], [src="imgs/basketball"], [src="imgs/tennis.jpg"] {
	width: 150px;
	height: 200px;
}
}





